@use "sass:map";
@use "theme" as var;

html,
body{
    margin: 0;
}
*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 30px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background: map.get(var.$theme-colors, "main");

}